h1 {
	text-align: center;
	color: brown;
	text-transform: capitalize;
}
p {
	text-align: center;
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: rgb(167, 1, 68);
}
a:hover {
	text-decoration: underline;
}
#daily-challenges {
	color: blueviolet;
}