body {
	text-align: center;
	background-color: rgb(233, 215, 107);
	margin: 50px;
}
h1 {
	
	color: brown;
	text-transform: capitalize;
}
p {
	
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: rgb(167, 1, 68);
}
a:hover {
	text-decoration: wavy;
}
#daily-challenges {
	color: blueviolet;
}
img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
}